:root {
    --oss-dark-green: #021C0E;
    --almost-black: #222222;
}
.f4{
    font-size:1.25rem;
}
.measure-wide {
    max-width: 68em;
}

.almost-black {
    color: #222222;
}

.oss-dark-green {
    background-color: var(--oss-dark-green);
}

footer {
    margin-top: auto;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.bio {
    text-align: justify;
    float: left;
    font-style: italic;
    flex: 3;
}

.storycorps {
    padding: 1em 2em 1em 1em;
}

.storycorps iframe {
    height: 100%;
}

.team-profile {
    max-width: 100%;
    justify-content: center;
    display: flex;
}

.logo {
    max-height: 256px;
}

.center-flex {
    justify-content: center;
}

.ananke-socials a {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    fill: #fff;
}

.ananke-socials-share a {
    display: inline-block;
    vertical-align: middle;
    color: var(--oss-dark-green);
    fill: var(--oss-dark-green);
}

.ananke-socials-share a .icon svg {
    width: 32px;
    height: 32px;
}
