.facebook, .twitter, .instagram, .youtube, .github, .gitlab, .keybase, .linkedin, .medium, .mastodon, .slack, .stackoverflow, .rss {
    fill: #ffffff;
}

.measure-wide {
    max-width: 68em;
}

.almost-black {
    color: #222222;
}
