.facebook, .twitter, .instagram, .youtube, .github, .gitlab, .keybase, .linkedin, .medium, .mastodon, .slack, .stackoverflow, .rss {
    fill: #ffffff;
}

.measure-wide {
    max-width: 68em;
}

.almost-black {
    color: #222222;
}

.oss-dark-green {
    background-color: #021C0E;
}

footer {
    margin-top: auto;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.bio {
    text-align: justify;
    float: left;
    font-style: italic;
    flex: 3;
}

.storycorps {
    padding: 1em 2em 1em 1em;
}

.storycorps iframe {
    height: 100%;
}

.team-profile {
    max-width: 100%;
    justify-content: center;
    display: flex;
}

.logo {
    max-height: 256px;
}

.center-flex {
    justify-content: center;
}
